[user]
	email = 43761225+giomeneses@users.noreply.github.com
	name = Giovanni Meneses
[init]
	defaultBranch = main
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
  editor = lvim
[advice]
	addEmptyPathspec = false
